<%#= render('layouts/errors', :object => @tweet) %>

<%= form_for @tweet do |f| %>
  <div class= "form-group col-md-2">
    <%= f.label :tweet %>
    <%= f.text_area :tweet, :maxlength => 140, :size => 40, class: "form-control" %>
    <br>
    <span id="tweetsubmit">
    <%= f.submit("Tweet", :class => "btn btn-primary btn-sm") %>
    </span>
  </div>
<% end %>
