<h1>Twitter</h1>

<% if current_user %>
  <%= render 'tweets/form' %>

  <div class="col-md-6">
    <h3>Tweet Deck:</h3>
    <% current_user.f_tweets.each do |tweet| %>
      <% tweeter = '@' + User.find(tweet.user_id).username%>
      <p><%= tweet.tweet%><%=link_to tweeter, user_path(tweet.user_id)%></p>
    <% end %>
    <br>
  </div>
<% else %>
  <%= render 'form'%>
<% end %>




