/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstap-sprockets";
 @import "bootstrap";

#tweetsubmit {
  float : right;
}

.tweet-boarder {
	width: auto;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid #BFBFBF;
  margin: 7px;
}

body {
  background-color: #6BBFFF;
}

.columns {
  padding-top: 1%;
  padding-bottom: 1%;
  margin-right: 1%;
  border-radius: 5px;
  background-color: #FFFEFE;
  }

.logo {
  color: #FFFEFE;
 }

 #egg {
  width: auto;
  height: 150px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;

 }
